.mainWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 164px); // 2*50px padding + 64 navbar
    margin-bottom: 100px;
    padding: 0 min(20vw - 100px, 100px); // 2*50px padding
    gap: min(20vh - 200px, 70px); // 2*50 padding + 64 navbar + 36 margin offset

    .availableFor p {
        font-size: 14px;
        position: relative;
        top: -5px;

        &:lang(de) {
            letter-spacing: 1.7px;
        }
        &:lang(en) {
            letter-spacing: 1.5px;
            left: 3px;
        }
    }

    .brandH {
        text-transform: none;
        font-weight: bolder;
        font-size: 4.375rem;
        display: inline;
        position: relative;
        top: -7px;
        left: -5px;
        .rocketLogo {
            height: 1.3em;
            position: relative;
            top: -5px;
        }
    }
}

.scrollIndicator {
    place-self: center;
    position: absolute;
    bottom: -50px;
    width: 4rem;
    height: 4rem;
    animation: MoveUpDown 1.5s ease-in-out infinite;
    cursor: pointer;
}

@keyframes MoveUpDown {
    0%,
    100% {
        transform: translateY(4px);
    }
    50% {
        transform: translateY(-4px);
    }
}

.browserIcon {
    width: 36px;
    height: 36px;
    vertical-align: baseline;
    margin-bottom: -3px;
}

.fsrIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 14px;
    justify-content: center; /* center items vertically, in this case */
    align-items: center; /* center items horizontaly, in this case */
    a {
        height: 60px;
    }
    img {
        height: 100%;
    }
}