.section {
    margin-bottom: 64px;
    font-size: 18px;

    h3 {
        margin-top: 16px;
    }
}

.fsrIcons {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 14px;

    a {
        height: 60px;
    }

    a img {
        object-fit: contain;
        height: 100%;
    }
}
