.mainContainer {
    padding: 50px min(15vw, 150px);
    max-width: 1920px;
    width: 100%;
    align-self: center;

    @media screen and (max-width: 650px) {
        padding: 50px 7vw;
    }

    p {
        margin-bottom: 10px;
        white-space: pre-wrap;
    }
}

.layout {
    min-height: 100vh;
    margin-top: 64px;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.links {
    display: flex;
    align-items: center;
    gap: 6px;
}
