.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: auto;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    & > div {
        height: 100%;
    }
}

.cardImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    clip-path: circle(100px at center);
    margin: 1.5rem auto;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    & > :last-child {
        margin-top: auto;
    }
}
